[submodule "external/android"]
	path = external/android
	url = https://github.com/forcedotcom/SalesforceMobileSDK-Android
[submodule "external/ios"]
	path = external/ios
	url = https://github.com/forcedotcom/SalesforceMobileSDK-iOS
